:markdown

  ### Inbound

  * Collaborate with our CMO and demand generation manager for all outbound messaging for demand campaigns.
  * Engage with our demand generation manager and developer marketing manager to create a signup email campaign for all users of GitLab.com. The goal of this campaign is to introduce more users to our on-premises offerings.
  * Own the competitive analysis and comparison page for GitLab. Work closely with sales to identify new competitive technologies and systems and understanding the drawback and benefits.
  * Work closely with our developer marketing manager to identify customer stories from all of the conversations you have with our customers.
